@font-face {
    font-family: MADE Evolve Sans EVO;
    src: url(fonts/MADE_Evolve_Sans_Regular_EVO.otf);
}
body {
    font-family: 'Roboto', sans-serif;
    width: 1366px;
    /*max-width: 1440px;*/
    margin: 0 auto;
    background: #1D1F2A;
}
main, footer {background: #272A33;}
header {min-height: 100%; margin-bottom: 85px;}
button {
    display: block;
    margin: 70px auto 0 auto;
    padding: 0 95px;

    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-align: center;

    color: #FFFFFF;

    background-color: #0764EF;
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
button:hover {background-color: #075bc3; cursor: pointer;}
button:active {border: 2px solid rgba(255, 255, 255, 0);}
.heading {
    text-align: center;
    color: #0764EF;
    font-size: 60px;
    font-weight: 400;
    font-family: MADE Evolve Sans EVO, sans-serif;
    letter-spacing: 0.4em;

    padding-bottom: 8px;
    border-top: 1px solid #0764EF;
    border-bottom: 1px solid #0764EF;

    background-color: #272A33;
}
.title {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.25em;

    color: #FFFFFF;
}
.description {
    font-weight: 100;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
}

a:hover {opacity: 0.7;}
/*HEADER*/

/*menu*/
header .menu {
    position: relative;
    height: 87px;

    padding: 1px;

    background: #343843;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
}

header .menu .logo {
    display: inline-block;

    width: 208px;
    height: 54px;

    margin-top: 20px;
    margin-left: 110px;
    vertical-align: top;

    font-family: MADE Evolve Sans EVO, sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    line-height: normal;
    color:  #0764EF;
}
header .menu ul {

    list-style: none;

    display: inline-block;

    margin-top: 20px;
    margin-left: 13%;

    padding: 0;

    line-height: 52px;
}
header .menu li {display: inline-block;}
header .menu a {
    margin-right: 80px;

    font-family: MADE Evolve Sans EVO, sans-serif;
    font-size: 24px;
    text-decoration: none;
    line-height: normal;

    color: #FFFFFF;
}
header .menu a.icon {display: none;}


/*banner*/

.banner .logo {
    position: relative;

    width: 745px;
    height: 210px;
    margin: 12% auto 0 auto;

    text-align: center;
}
.banner .logo .polyweb {
    font-family: MADE Evolve Sans EVO, sans-serif;

    font-size: 140px;
    line-height: normal;
    text-transform: uppercase;
    color:  #0764EF;
}
.banner .logo .polyweb span {color: #FFFFFF;}
.banner .logo .agency {
    position: absolute;
    width: 184px;
    height: 63px;
    right: 0;
    bottom: 0;

    font-family: MADE Evolve Sans EVO, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    line-height: normal;

    color: #0764EF;
}
.banner .slogan {
    text-align: center;
    margin: 0 auto;


    font-size: 48px;
    font-weight: 100;
    color: #FFFFFF;

    z-index: 2;
}

.banner button {margin: 100px auto 0 auto;}


/*MAIN*/

/*services*/

.services {padding: 1px; margin-bottom: 65px;}
.services .items {
    margin: 50px 10%;

    display: grid;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.services .items .block {color: #FFFFFF;}
.services .items .title {
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 27px;
    align-self: center;
    letter-spacing: 0px;
}
.services .items .block {
    background-color: #393E4D;
    padding: 15px 30px;

    display: grid;
    grid-template-rows: 0.8fr 1fr;
    grid-template-columns: 0.25fr 1fr;
    grid-gap: 10px;
}
.services .items .block .icon {
    width: 50px;
    height: 50px;
    border: 2px solid #0764EF;
    align-self: center;
}
.services .items .block .description {grid-column: 1 / 3;}


/*portfolio*/

.portfolio .items {
    margin: 50px 10%;

    display: grid;
    grid-template-rows: repeat(3, 175px);
    grid-template-columns: 1fr 0.3fr 1fr;
    grid-gap: 25px 35px;

    color: #FFFFFF;
}
.portfolio .items .block {
    position: relative;
    background-color: #0764EF;
}
.portfolio .items .block img,
.portfolio .items .block .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.portfolio .items .block:hover img {opacity: 0.15;}
.portfolio .items .block .content {
    overflow: hidden;
    padding: 15px 30px;
}
.portfolio .items .block1 {grid-column: 1 / 3;}
.portfolio .items .block4 {grid-column: 2 / 4;}
.portfolio .items .block5 {grid-column: 1 / 3;}

.portfolio .items .description {
    font-size: 18px;
    line-height: 27px;
    font-weight: 100;
}
.portfolio .items .title {display: none;}
.portfolio .items .description {display: none;}
.portfolio .block:hover .title{display: block;}
.portfolio .block:hover .description{display: block;}


/*about_us*/

.about_us .items {
    margin: 40px 10%;

    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(2, 1fr);
}

.about_us .title {margin-bottom: 15px;}
.about_us .description {line-height: 27px;}
.about_us .items .block2,.block4 {padding: 30px;}
.about_us .items .block1 {
    background-position: right;
}
.about_us .items .block3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-position: left;
}
.about_us .items .block4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.about_us .picture.block1{
    justify-self: stretch;
    background: url("img/pexels-photo-1448371.jpeg") no-repeat ;
}
.about_us .picture.block3{
    justify-self: stretch;
    background: url("img/mdcjb19.jpg") no-repeat ;
}

/*team*/

.team .title {
    color: #0764EF;
    text-align: center;
    font-size: 45px;
}
.team .items {
    margin: 50px 10%;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px 30px ;

    justify-items: stretch;
    align-items: stretch;
}
.team .items div {
    min-width: 140px;
    min-height: 190px;
}
.team .picture {
    background: url("img/S4Z8W4Teu9Idwi_3zX8b-g.jpeg") no-repeat center;
    background-size: cover;
}
.team .picture.picture1 {background: url("img/portret.jpg") no-repeat center; background-size: cover;}
.team .picture.picture2 {background: url("img/portret2.jpg") no-repeat center;background-size: cover;}
.team .picture.picture3 {background: url("img/S4Z8W4Teu9Idwi_3zX8b-g.jpeg") no-repeat center;background-size: cover;}
.team .picture.picture4 {background: url("img/portret4.jpg") no-repeat center;background-size: cover;}
.team .picture.picture5 {background: url("img/portret6.jpg") no-repeat center;background-size: cover;}

.team .picture.picture6 {background: url("img/portret7.jpg") no-repeat center;background-size: cover;}
.team .picture.picture7 {background: url("img/portret8.jpg") no-repeat center;background-size: cover;}
.team .picture.picture8 {background: url("img/portret9.jpg") no-repeat center;background-size: cover;}
.team .picture.picture9 {background: url("img/portret10.jpg") no-repeat center;background-size: cover;}
.team .picture.picture10 {background: url("img/portret11.jpg") no-repeat center;background-size: cover;}

.team .picture.picture11 {background: url("img/portret12.jpg") no-repeat center;background-size: cover;}
.team .picture.picture12 {background: url("img/portret13.jpg") no-repeat center;background-size: cover;}
.team .picture.picture13 {background: url("img/portret14.jpg") no-repeat center;background-size: cover;}
.team .picture.picture14 {background: url("img/portret15.jpg") no-repeat center;background-size: cover;}
.team .picture.picture15 {background: url("img/portret16.jpg") no-repeat center;background-size: cover;}




/*contacts*/

.contacts .heading {margin-bottom: 20px;}
.contacts .items {position: relative;}
.contacts .items .map {
    width: 100%; height: 460px;
    background: url("img/map.png") no-repeat center;
}
.contacts .contact-info {
    z-index: 2;
    position: absolute;
    top: 50px;
    left: 8%;

    width: 280px;
    height: 360px;

    padding: 30px 15px;
    box-sizing: border-box;

    text-align: center;

    background: rgba(57, 62, 77, 0.91);
}
.contacts .contact-info ul {list-style: none; padding: 0;}
.contacts .contact-info li {
    display: block;
    width: 100%;

    padding-bottom: 3px;
    margin: 35px 0;

    border-bottom: 1px solid #ffffff5c;

    font-weight: 100;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}


/*feedback_form*/

.feedback {
    padding-bottom: 150px;
    padding-top: 100px;
}
.feedback .title {
    color: #0764EF;
    text-align: center;
    font-size: 45px;
}
.feedback form {
    margin: 50px 23%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 50px);
    grid-gap: 30px;
}
.feedback form input,textarea {
    display: block;
    padding: 15px;
    border: 2px solid #ffffff5c;
    background-color: #272A33;

    font-size: 20px;
    line-height: 27px;

    color: rgba(255, 255, 255, 0.7);
}
.feedback form .email,.phone-number,.comment-text,.button {
    grid-column: 1 / 3;
}
.feedback form .comment-text{
    grid-row: 4 / 6;
    vertical-align: top;
}
.feedback form .button {
    padding: 0 95px;

    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-align: center;

    color: #FFFFFF;

    background: #0764EF;
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    justify-self: center;
}
.feedback form .button:hover {background-color: #075bc3; cursor: pointer;}
.feedback form .button:active {border: 2px solid rgba(255, 255, 255, 0);}


/*FOOTER*/

footer {
    padding: 35px 15%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 70px);
    grid-gap: 10px 20px;

    font-weight: 100;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.1em;

    color: #FFFFFF;

    background: #343843;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
footer .logo {
    grid-column: 1 / 3;

    font-size: 44px;
    color: #0764EF;
    text-transform: uppercase;
    font-family: MADE Evolve Sans EVO, sans-serif;
    font-weight: 400;
}
footer .menu {
    grid-row: 1 / 4;
    justify-self: end;
}
footer .menu ul {list-style: none;}
footer .menu li {
    display: block;
    margin: 15px 5px;
}
footer .menu a {
    padding: 15px 5px;

    text-decoration: none;
    color: #FFFFFF;
}
footer .rights {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    align-self: center;
}
footer span {display: block;}



        /*svg*/

.svg {position: absolute;}
header {position: relative;}
header .figure1 {
    width: 350px;
    height: 313px;
    transform: rotate(-52.15deg);

    top: 113px;
    left: 96px;
}
header .figure2 {
    width: 230px;
    height: 213px;
    transform: rotate(173deg);

    top: 136px;
    left: 418px;
}

main {position: relative;}
.services, .portfolio, .about_us, .team, .contacts, .feedback {
    position: relative;
}

main .figure0 {
    width: 294px;
    height: 300px;
    transform: rotate(-20deg);

    top: -315px;
    right: 10px;
}
main  .figure1 {
    width: 160px;
    height: 160px;
    transform: rotate(-51deg);

    top: 152px;
    right: 407px;
}
main  .figure2 {
    width: 350px;
    height: 350px;
    transform: rotate(-7deg);

    top: 306px;
    left: 250px;
}
main  .figure3 {
    width: 296px;
    height: 256px;
    transform: rotate(60deg);

    top: 493px;
    right: 340px;
}
main  .figure4 {
    width: 281px;
    height: 235px;
    transform: rotate(-13deg);

    top: 1842px;
    right: 12px;
}
main  .figure5 {
    width: 260px;
    height: 235px;
    transform: rotate(35deg);

    top: 2183px;
    left: 100px;
}
main  .figure6 {
    width: 360px;
    height: 320px;
    transform: rotate(-13deg);

    bottom: 258px;
    right: 51px;
}
main  .figure7 {
    width: 266px;
    height: 247px;
    transform: rotate(124deg);

    bottom: 114px;
    left: 64px;
}



            /*адаптивность*/



@media (min-width: 1025px) and (max-width: 1366px) {
    body {width: 100%}

    header .menu {text-align: end;}
    header .menu .logo {margin-left: 5%; position: absolute;left: 0;top: 0;}
    header .menu ul{
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 8%;*/

        width: calc(100vw - 330px);
        max-width: 710px;
        margin-left: unset;

        line-height: 52px;
    }
    header .menu a {margin-right: 60px; font-size: 22px;}

    .services .items {margin: 50px 6%; grid-gap: 45px;}
    .services .items .block {padding: 15px 20px;}
    .services .items .title {letter-spacing: 0;}
}

@media (min-width: 769px) and (max-width: 1024px){
    body {width: 100%}
    .svg {display: none;}    /*временно*/

    header .menu .logo {margin-left: 30px;}
    header .menu ul{
        position: absolute;
        top: 0;
        right: 1%;

        width: calc(100vw - 300px);
        max-width: 675px;
        margin-left: unset;

        line-height: 35px;
    }
    header .menu a {margin-right: 50px; font-size: 22px;}


    .services .items {margin: 50px 3%; grid-gap: 35px 30px;}
    .services .items .block {padding: 15px; grid-template-columns: 0.2fr 1fr;}
    .services .items .block .icon {width: 40px; height: 40px;}
    .services .items .title {font-size: 22px; letter-spacing: 0;}


    .team .items {margin: 50px 6%;}
    .team .items div {
        min-width: 120px;
        min-height: 175px;
    }

    .feedback form {margin: 50px 15%;}

    footer {padding: 35px 14%; grid-template-rows: unset;}
}

@media (max-width: 768px) {

    .svg {display: none;}    /*временно*/


    body {width: 100%;}
    .heading {font-size: 50px; letter-spacing: 0.1em;}

    .banner .logo {
        width: 75%; height: 170px;
        margin: 25% auto 10% auto;
    }
    .banner .logo .polyweb {font-size: 110px;}
    .banner .slogan { font-size: 35px; width: 80%; }


    header .menu .logo {margin-left: 30px;}
    header .menu ul{
        position: absolute;
        top: 0;
        right: 0;

        width: calc(100vw - 280px);
        margin-left: unset;
        line-height: 35px;
    }
    header .menu a {margin-right: 50px; font-size: 22px;}



    .services .items {
        margin: 50px 2%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5% 3%;
    }


    .portfolio .items {grid-gap: 20px 25px; margin: 40px 5%;}
    .portfolio .items .block .content {overflow: no-display; padding: 13px 20px;}
    .portfolio .items .title {font-size: 23px; letter-spacing: 0.1em;}
    .portfolio .items .description {line-height: 24px;}


    .about_us .items{
        grid-template-columns: 1fr;
        grid-template-rows: 300px 23% 300px 23%;
        grid-row-gap: 10px;
        margin: 20px 0 0 0;
    }
    .about_us .items .block1 {background-position: center;}
    .about_us .items .block3 {grid-column: 1/2; grid-row: 3 / 4; background-position: center;}
    .about_us .items .block4 {grid-column: 1/2; grid-row: unset;}


    .team {margin-top: 50px;}
    .team .items {margin: 50px 5%; grid-template-columns: repeat(4, 1fr); grid-gap: 20px 27px;}
    .team .items div {min-height: 150px;}
    .team .items .last{display: none}


    .contacts .contact-info {left: 3%}


    .feedback {padding-bottom: 50px; padding-top: 30px;}
    .feedback form {
        margin: unset;
        padding: 30px 75px;

        grid-template-rows: repeat(7, 53px);
        grid-template-columns: 1fr;
        grid-gap: 35px;
    }
    .feedback form .email, .phone-number, .comment-text, .button {
        grid-column: unset;
    }


    footer {
        padding: 35px 7%;
        grid-template-rows: 40px 108px 70px;
        grid-template-columns: 1.2fr 1.2fr 1fr;
        grid-gap: 10px 25px;

    }
    footer .menu {justify-self: start}
    footer .menu ul { padding: 0;}
    footer .menu li { border-bottom: 1px solid #fff;}
}

@media (min-width: 361px) and (max-width:680px)   {
    header .menu {height: 60px;}
    header .menu #myLinks {display: none;}
    header .menu .logo {font-size: 30px; margin-top: 14px;}
    header .menu ul {position: static; width: auto; margin-top: 0; line-height: 32px;}
    header .menu li {
        display: block;
    }
    header .menu a {padding-left: 20px; margin-right: 0;}
    header .menu a.icon {
        display: block;
        background: url("img/hamburger-menu-blue.png") no-repeat center;
        background-size: contain;
        position: absolute;
        right: 0;
        top: 0;
        width: 45px;
        height: 45px;
        margin: 8px 21px;
    }


    .banner .logo {width: 57%; min-width: 355px; height: 150px;}
    .banner .logo .polyweb {font-size: 80px;}

    .services .items {
        grid-template-columns: 1fr;
        margin: 50px 13%;
        grid-gap: 4%;
    }
    .services .items .block {padding: 18px 25px;}
    .services .items .block4 {display: none;}
    .services .items .block5 {display: none;}
    .services .items .block6 {display: none;}
    .services .items .block {grid-gap: 22px;}

    .portfolio .items {
        grid-template-rows: repeat(3, 140px);
        grid-template-columns: 1fr;
        grid-gap: 25px 0;
        margin: 40px 7%;
    }
    .portfolio .items .block2 {display: none;}
    .portfolio .items .block3 {display: none;}
    .portfolio .items .block4 {grid-column: unset;}
    .portfolio .items .block6 {display: none;}
    .portfolio .items .block .content {overflow: hidden; padding: 13px 20px;}
    .portfolio .items .title {font-size: 23px; letter-spacing: 0.1em;}
    .portfolio .items .description {line-height: 24px;}

    .team {margin-top: unset;}
    .team .items {
        grid-template-columns: repeat(3, 1fr);
        min-width: 475px;
        overflow: no-display;
    }
    .team .items .penultimate{display: none}

    .feedback form {
        padding: 30px 25px;
        grid-gap: 20px;
    }

    footer .menu {display: none;}
    footer {
        padding: 24px 10px;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        grid-gap: 25px;

        font-size: 20px;
    }
}

@media  (max-width:534px) {
    .team .items {grid-template-columns: 1fr 1fr; grid-template-rows: repeat(2, 1fr); min-width: unset}
    .team .items div {min-width: unset; min-height: 160px;}
    .team .items div:nth-last-child(odd) {display: none;}
}

@media (max-width: 360px) {
    body {width: 100%;}
    .heading {font-size: 50px; letter-spacing: 0.1em;}

    .svg {display: none;}    /*временно*/

    header .menu {height: 60px;}
    header .menu #myLinks {display: none;}
    header .menu .logo {font-size: 30px; margin-top: 14px;}
    header .menu ul {position: static; width: auto; margin-top: 0; line-height: 32px;}
    header .menu li {
        display: block;
    }
    header .menu a {padding-left: 20px; margin-right: 0;}
    header .menu a.icon {
        display: block;
        background: url("img/hamburger-menu-blue.png") no-repeat center;
        background-size: contain;
        position: absolute;
        right: 0;
        top: 0;
        width: 45px;
        height: 45px;
        margin: 8px 21px;
    }



    .banner .logo {
        width: 100%;
        height: 140px;

        margin: 35% auto 10% auto;
    }
    .banner .logo .polyweb {font-size: 75px;}
    .banner .slogan {font-size: 30px;}
    .banner button {margin: 80px auto 0 auto;}



    .services .items {
        grid-template-columns: 1fr;
    }
    .services .items .block {padding: 14px;}
    .services .items .block4 {display: none;}
    .services .items .block5 {display: none;}
    .services .items .block6 {display: none;}



    .portfolio .items {
        grid-template-rows: repeat(3, 140px);
        grid-template-columns: 1fr;
         grid-gap: 25px 0;
    }
    .portfolio .items .block2 {display: none;}
    .portfolio .items .block3 {display: none;}
    .portfolio .items .block4 {grid-column: unset;}
    .portfolio .items .block6 {display: none;}
    .portfolio .items .block .content {overflow: hidden; padding: 13px 20px;}
    .portfolio .items .title {font-size: 23px; letter-spacing: 0.1em;}
    .portfolio .items .description {line-height: 24px;}




    .about_us .items{
        grid-template-columns: 1fr;
        grid-template-rows: 300px 400px;
        margin: 20px 0 0 0;
    }
    .about_us .items .block3 {display: none;}
    .about_us .items .block4 {display: none;}



    .team .items {grid-template-columns: 1fr 1fr;}
    .team .items div {min-width: unset; min-height: 160px;}
    .team .items div:nth-last-child(odd) {display: none;}


    .contacts .map {display: none}
    .contacts .contact-info {
        position: static;
        margin: 0 auto;
    }


    .feedback {padding-bottom: 50px; padding-top: 30px;}
    .feedback form {
        margin: unset;
        padding: 20px 15px;

        grid-template-rows: repeat(7, 53px);
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .feedback form .email, .phone-number, .comment-text, .button {
        grid-column: unset;
    }



    footer .menu {display: none;}
    footer {
        padding: 24px 10px;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        grid-gap: 15px;

        font-size: 19px;
        letter-spacing: unset;
    }

}